<% if @user.errors.messages.present? %>
    <% @user.errors.messages.each do |_key, value| %>
        <% value.each do |msg| %>
            <div class="notification is-danger" >
                <%= msg %>            
                <button class="delete" onclick="close_div(this)"></button>
            </div>
        <% end %>
    <% end %>
<% end %>

<section class="hero">
    <%= form_with model: @user, url: user_path, local: true, method: :post do |form| %>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        
                        <div class="field">
                            <label for="" class="login-label">Email</label>
                            <div class="control has-icons-left">
                                <%= form.email_field :email, class: 'input' %>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        
                        <label for="" class="login-label">Password</label>

                        <div class="control has-icons-left">
                            <%= form.password_field :password, class: 'input' %>
                            <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                            </span>
                        </div>

                        <label for="" class="login-label">Confirm Password</label>

                        <div class="control has-icons-left">
                            <%= form.password_field :password_confirmation, class: 'input' %>
                            <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        
                        <label for="" class="login-label">Authority</label>
                        <div class="control radio-box">
                            <%= form.label :authority_2, 'Admin' %>
                            <%= form.radio_button :authority, '2' %>
                            <%= form.label :authority_3, 'Customer' %>
                            <%= form.radio_button :authority, '3', checked: true %>
                        </div>

                        <hr>
                        <div style="display: flex; justify-content: center; "class="is-justify-content-center">
                            <%= form.submit 'Submit', class: 'button is-success'%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</section>