<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<%= render 'layouts/nav' %>
		
		<% if flash['info'].present? %>
			<div class="notification is-primary">
				<%= flash['info'] %>
				<button class="delete" onclick="close_div(this)"></button>
			</div>
		<% end %>

		<% if flash['error'].present? %>
			<div class="notification is-danger" >
				<%= flash['error'] %>
				<button class="delete" onclick="close_div(this)"></button>
			</div>
		<% end %>

		<%= yield %>
	</body>
</html>
